<div class="container">
     
     <h2 class="mb-4"><%= @food.name %></h2>

        <h5>Quantity :<%= @food.quantity %></h5>

        <h5>Measurement unit : <b><%= @food.measurement_unit %></b></h5>
        <h5>Price : <b><%= @food.price %></b></h5>



     </div>